
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

/** RESET CSS **/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** END OF RESET CSS **/

body {
	margin: 0;
	padding: 0;
	/*background: #FF7C76 url(images/bg.png) repeat;*/
	background: #ad966c url("images/wood.jpg") repeat scroll top center;
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: "Times New Roman";
	font-size: 11pt;
	/*color: #787878;*/
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	/*color: #3DA29B;*/
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	/*color: #5E5E5E;*/
	color: #FFF;
}

a:hover {
	text-decoration: underline;
}

sup {
	font-size: 95%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}


.underlined_text {
	text-decoration: underline;
}

#wrapper {
	padding-top: 50px;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

/* Header */

#header-wrapper {
	overflow: hidden;
	height: 70px;
	background: url(images/img03.png) no-repeat center bottom;
}

#header {
	width: 100%;
	height: 70px;
	margin: 5px auto 3em auto;
	background: #504085;
	background: #5c7b1e;
}

/* Logo */

#logo {
	float: left;
	width: 300px;
	margin: 0;
	padding: 0 0 0 30px;
	color: #FFFFFF;
}

#logo h1, #logo p {
}

#logo h1 {
	line-height: 100px;
	text-transform: uppercase;
	font-size: 2.4em;
}

#logo h1 a {
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0,0,0,.2);
}

#logo p {
	margin: 0;
	padding: 0px 0 0 0px;
	letter-spacing: -1px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #8E8E8E;
}

#logo p a {
	color: #8E8E8E;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}

/* Splash */

#splash {
	width: 960px;
	height: 300px;
	margin: 0px auto;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #E7EBED;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #B9B9B9;
	color: #000000;
}

/* Menu */

#menu {
	/*float: right;*/
	float: left;
	/*width: 400px;*/
	width: 100%;
	/*height: 90px;*/
	height: 100%;
	/*margin: 0 auto;*/
	margin: 0;
}

#menu ul {
	height: 70px;
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	height: 70px;
	max-width: 135px;
}

#menu a {
	height: 45px;
	display: block;
	padding: 25px 14px 0px 14px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0,0,0,.2);
	text-transform: capitalize;
	font-size: 1.10em;
	font-weight: 300;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: #000;
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
	background: #000;
}

#banner
{
	/*margin-bottom: 3em;*/
}

/* Page */

#page {
	overflow: hidden;
	width: 1100px;
	margin: 0 auto;
	padding: 50px;
	/*background: rgb(106,86,170);*/
	background: #7E6CB8;
	background: #d8b0e6;
	background: #CB9CDB;
}

/* Content */

#content {
	float: left;
	width: 100%;
	font-size: 12pt;
}

#content #unnata_content div.post {
	width: 1100px;
	height: 400px;
	margin-top: 40px;
	margin-bottom: 40px;
}

#content #unnata_content div.post div {
	float: left;
}

#content #unnata_content div.post div.image {
	margin-left: 15px;
	margin-right: 15px;
}
#content #unnata_content div.post div.image img {
	float: left;
	width: 300px;
	height: 400px;
	border-radius: 30px;
	border: 5px solid rgb(200,100,100);
}

#content #unnata_content div.post div.text {
	width: 700px;
	float: left;
}

#content #unnata_content div.post div.text h2 {
	font-size: 25px;
	font-weight: bold;
	margin: 0px 0px 15px 0px;
}

#content #unnata_content div.post div.text h2 sup {
	font-size: 50%;	
}

#content #unnata_content div.post a {
	display: block;
}

/* Prenatal Yoga page. */
#content #prenatal_content div.images {
	width: 400px;
	height: 600px;
	margin-top: 40px;
	margin-bottom: 40px;
	float: left;
}
#content #prenatal_content div.images img {
	border-radius: 30px;
	border: 5px solid rgb(200,100,100);
	margin-bottom: 20px;
}
#content #prenatal_content div.text {
	width: 600px;
	float: left;
}
#content #prenatal_content div.text h2 {
	margin-bottom: 20px;
}
#content #prenatal_content div.text p {
	margin-bottom: 10px;
}
#content #prenatal_content div.text ul {
	margin-left: 30px;
	list-style-type: decimal;
}
/*************************/ /* Prenatal */

span.unnata_footnote_symbol {
	font-size: 20px;
	color: red;
}

p#unnata_footnote {
	font-size: 14px;
}

/* Home Page content */
#content #home_content h1 {
	margin-bottom: 20px;
	font-size: 28px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: white;
	margin-bottom: 5px;
}
#content #home_content #left {
	width: 330px;
	float: left;
	margin-right: 20px;
}
#content #home_content #left img {
	position: relative;
	border-radius: 20px;
}
#content #home_content #left #hatha_div {
	width: 330px;
}
#content #home_content #left #hatha_div h1 {
	margin-bottom: -55px;
	margin-left: 90px;
	position: relative;
	z-index: 100;
}
#content #home_content #left #hatha_div h1 a {
	width: 100%;
	height: 100%;
	font-family: 'FrenchScriptMT';
	font-size: 50px;
	font-weight: normal;
	font-style: normal;
	color: #47C3E6;
}
#content #home_content #left #hatha_div h1 a:hover {
	text-decoration: none;
}
#content #home_content #left #hatha_div img {
	position: relative;
	border-radius: 20px;
}
#content #home_content #left #unnata_div {
	width: 330px;
	margin-bottom: 20px;
}
#content #home_content #left #unnata_div img {
	border: 3px solid #47C3E6;
}
#content #home_content #left #unnata_div h1 {
	margin-bottom: -150px;
	margin-left: -15px;
	position: relative;
	z-index: 100;
}
#content #home_content #left #unnata_div h1 a {
	width: 100%;
	height: 100%;
	font-family: 'FrenchScriptMT';
	font-size: 70px;
	font-weight: normal;
	font-style: normal;
	color: #47C3E6;
}
#content #home_content #left #unnata_div h1 a:hover {
	text-decoration: none;
}
#content #home_content #left #unnata_div h1 sup {
	font-size: 30px;
}
#content #home_content #center {
	width: 370px;
	float: left;
}
#content #home_content #center h1 {
	margin-bottom: 30px;
	color: black;
	font-size: 20px;
}
#content #home_content #center p {
	text-align: center;
	margin-bottom: 10px;
	font-size: 14px;
}
#content #home_content #center p.long_margin {
	margin-bottom: 40px;
}
#content #home_content #right {
	margin-left: 10px;
	width: 370px;
	float: left;
}
#content #home_content #event_div {
	width: 360px;
	margin-bottom: 10px;
/*	background: rgba(152,209,37,.65); */
	border-radius: 20px;
}
#content #home_content #event_div img {
	border-radius: 20px;
	position: relative;
	z-index: 1;
	width: 300px;
	border: 2px solid black;
}
#content #home_content #left #event_div img {
	margin-bottom: 30px;
	margin-left: 10px;
}
#content #home_content #right #event_div img {
	margin-left: 30px;
	margin-bottom: 30px;
}
#content #home_content #right #event_div #text {
	width: 330px;
	text-align: center;
	margin-bottom: -60px;
}
#content #home_content #right #event_div p a {
	width: 330px;
	position: relative;
	z-index: 2;
	font-style: italic;
	color: black;
	font-size: 20px;
	font-weight: bold;
}
#content #home_content #right #event_div p#subtitle a {
	font-size: 15px;
	font-style: italic;
	font-weight: normal;
}
#content #home_content #right #event_div a:hover {
	text-decoration: none;
}
#content #home_content #right #prenatal_div {
	width: 370px;
	height: 230px;
}
#content #home_content #right #prenatal_div h1 {
	width: 200px;
	height: 33px;
/*	font-family: 'FrenchScriptMT'; */
	font-size: 25px;
	font-weight: normal;
	font-style: normal;
	color: white;
	margin-left: 75px;
	margin-bottom: -40px;
	position: relative;
	z-index: 100;
	background: #7a9fcc;
	border-right: 5px solid #b1c7e0;
	border-bottom: 5px solid #b1c7e0;
	border-left: 5px solid #b1c7e0;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}
#content #home_content #right img#image0 {
	border: 3px solid #f6b9be;
	border-radius: 20px;
	position: relative;
}
#content #home_content #right #prenatal_div #cycle {
	background: #7a9fcc;
	border: 5px #d2dfed solid;
	border-radius: 150px;
	width: 210px;
	height: 210px;
	margin-left: 80px;
	position: relative;
	z-index: 100;
}

#content #home_content #right #prenatal_div #cycle p {
	width: 160px;
	text-align: center;
	font-size: 0.8em;

	margin-top: 5px;
	margin-left: 25px;
}
#content #home_content #prenatal_div #cycle p#up {
	margin-top: 30px;
	font-size: 0.9em;
}

#content #home_content #right img#image1 {
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	margin-bottom: 20px;
}
#content #home_content #right img#image2 {
	border-radius: 20px;
}
p.important {
	font-size: 20px;
	font-weight: bold;
}
#content #home_content p.signature {
	margin-top: 30px;
}
#content #home_content #aerial_image {
	margin-bottom: 20px;
	width: 100%;
}
#content #home_content #prenatal {
	cursor: pointer;
	width: 700px;
	height: 330px;
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}
#content #home_content #prenatal img {
	float: left;
}

#content #home_content #unnata {
	cursor: pointer;
	width: 324px;
	height: 504px;
	float: left;
	margin-left: 100px;
}
#content #home_content #unnata img {
	float: left;
	margin-left: 10px;
}
/**********************/ /* Home Page content */

/*****************************Events Page. ***********************************/
#content #events_content img#divider {
	width: 60%;
	margin-left: 200px;
}
#content #events_content div.event_div {
	width: 100%;
	margin-bottom: 60px;
	margin-top: 60px;
	float: left;
}
#content #events_content div.event_div div.main_img_div {
	width: 100%;
	height: 300px;
}
#content #events_content div.event_div img.main_img {
	width: 350px;
	float: left;
	margin-left: 380px;
	border-radius: 20px;
}
#content #events_content div.event_div h1.title {
	width: 100%;
	text-align: center;
	font-size: 35px;
	margin-bottom: 10px;
	font-weight: bold;
}
#content #events_content div.event_div h1.subtitle {
	width: 100%;
	text-align: center;
	font-size: 32px;
	margin-bottom: 10px;
	font-weight: bold;
	font-style: italic;
}
#content #events_content div.event_div h2.date {
	width: 100%;
	text-align: center;
	font-size: 22px;
	margin-bottom: 10px;
	font-style: italic;
}
#content #events_content div.event_div h3.teacher {
	width: 100%;
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;
}
#content #events_content div.event_div h3.suitable_for {
	width: 100%;
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;
}
#content #events_content div.event_div div.description {
	width: 80%;
	margin-left: 130px;
	margin-top: 30px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	margin-bottom: 20px;
}
#content #events_content div.event_div div.teacher_bio {
	width: 80%;
	margin-left: 130px;
}
#content #events_content div.event_div div.teacher_bio img {
	width: 230px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
	border-radius: 20px;
}
#content #events_content div.event_div div.teacher_bio div.text {
	font-size: 14px;
}
#content #events_content div.event_div img#simou_divider {
	margin-left: 380px;
}
/*****************************************************************************/

#content #aboutus_content img {
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
}
#content #aboutus_content h1 {
	margin-bottom: 15px;
	font-style: italic;
}
#content #aboutus_content p {
	font-size: 17px;
}
/* Sidebar */

#sidebar {
	float: right;
	width: 300px;
}

#sidebar .title h2
{
	font-size: 1.6em;
}

#sidebar .box1
{
	margin-bottom: 5em;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Three Column Footer Content */

#footer-content {
	color: #D6E2F0;
}

#footer-content a {
	color: #92A9B6;
}

#footer-bg {
	overflow: hidden;
	width: 890px;
	padding: 30px 55px 50px 55px;
}

#footer-content h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 26px;
	color: #FFFFFF;
}

#footer-content ul {
	margin: 0px;
	padding: 0px 0px 0px 20px;
}

#footer-content a {
}

#column1 {
	float: left;
	width: 290px;
	margin-right: 30px;
}

#column2 {
	float: left;
	width: 280px;
}

#column3 {
	float: right;
	width: 260px;
}

/* Footer */

#footer {
	height: 100px;
	margin: 0 auto;
	padding: 5em 0;
	background: url(images/img03.png) no-repeat center top;
}

#footer p {
	margin: 0;
	padding-top: 10px;
	letter-spacing: 1px;
	line-height: normal;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	/*color: rgba(255,255,255,.3);*/
	color: rgba(0,0,0,1);
}

#footer a {
	color: rgba(255,255,255,.3);
}

#marketing {
	overflow: hidden;
	margin-bottom: 30px;
	padding: 20px 0px 10px 0px;
	border-top: 1px solid #E7EBED;
	border-bottom: 1px solid #E7EBED;
}

#marketing .text1 {
	float: left;
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	text-transform: lowercase;
	font-size: 34px;
	color: #345E9B;
}

#marketing .text2 {
	float: right;
}

#marketing .text2 a {
	display: block;
	width: 252px;
	height: 38px;
	padding: 15px 0px 0px 0px;
	background: url(images/img07.jpg) no-repeat left top;
	letter-spacing: -2px;
	text-align: center;
	text-transform: lowercase;
	font-size: 30px;
	color: #FFFFFF;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}

	.title h2
	{
		/*letter-spacing: 0.25em;*/
		font-weight: 700;
		font-size: 3em;
		color: #171717;
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		/*text-transform: uppercase;*/
		/*font-weight: 400;*/
		/*font-size: 0.90em;*/
		/*color: #6F6F6F;*/
		color: #FFF;
	}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 1.5em;
		padding: 0.50em 3em 0.50em 2em;
		background: #59B860;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFF;
	}

/*********************************************************************************/
/* Two Column                                                                    */
/*********************************************************************************/

	#two-column
	{
		padding-top: 3em;
	}
	
	#two-column .title h2
	{
		font-size: 1.6em;
	}
	
	#two-column #tbox1
	{
		float: left;
		width: 350px;
	}

	#two-column #tbox2
	{
		float: right;
		width: 350px;
	}

	#two-column #tbox1 ul.style2,
	#two-column #tbox2 ul.style2
	{
		margin-top: 2.2em;
	}

	#slider
	{
		position: relative;
		width: 1100px;
		margin: 0 auto;
	}

	#slider .viewer
	{
	width: 1100px;
		height: 275px;
		overflow: hidden;
		margin: 0 auto;
	}

	#slider .viewer .reel
	{
		display: none;
		height: 275px;
	}

	#slider .viewer .reel .slide
	{
		position: relative;
		width: 1100px;
		height: 275px;
		/*background: #504085;*/
		background: #7fbfff url("images/logo.png") top center;
	}

	#slider .viewer .reel .slide img
	{
		width: 100%;
		height: 100%;
	}

	#slider .viewer .reel .slide h1
	{
		font-family: 'FrenchScriptMT';
		font-size: 250px;
		color: #7e00ff;
		text-align: center;
		margin: 0px 0 5px 0;
		height: 70px;
		/*font-weight: bold;*/
	}

	#slider .viewer .reel .slide h2
	{
		font-family: 'FrenchScriptMT';
		font-size: 70px;
		color: #7e00ff;
		margin: 90px 0px 0px 750px;
	}

	#slider .viewer .reel .slide a
	{
		text-decoration: none;
	}
	
/**********************************/
/*        Program Table           */
/**********************************/
#program
{
	width: 100%;
	height: 550px;
}
#program h1
{
	text-align: center;
	font-size: 35px;
	text-decoration: underline;
}
#program h2
{
	text-align: center;
	font-size: 20px;
	font-style: italic;
	margin-top: 10px;
}
#program #new {
	width: 60%; 
	height: 100%;
	margin-left: 230px; 
	float: left;
	font-size: 14px;
	float: left; 
}
table.program_table
{
	background: #504085;
	border-collapse: separate;
	border: 1px solid black;
	margin: 25px 25px 0px 0px;
	text-align: center;
	height: 200px;
}
table.program_table th, table.program_table td
{
	border: 1px solid black;
	width: 100px;
	height: 20px;
	max-height: 30px;
}
table.program_table th
{
	background: gray;
	height: 20px;
	padding-top: 5px;
	font-weight: bold;
}
table.program_table td
{
	background: white;
}
table.program_table td a
{
	color: black;
}
#content #program #cycle {
	background: #7a9fcc;
	border: 5px #d2dfed solid;
	border-radius: 140px;
	width: 250px;
	height: 250px;
	float: left;
	clear: right;
	margin-top: -70px;
	margin-left: -70px;
}
#content #program #cycle p {
	width: 210px;
	margin-top: 55px;
	margin-left: 20px;
	font-size: 0.8em;
	color: white;
	text-align: center;
}
#content #program #cycle p a {
	color: black;
	text-decoration: underline;
	font-style: italic;

}
/*
table.program_table td.meditation_cell
{
	background-color: #00ceb6;
}

table.program_table td.hatha_cell
{
	background-color: #90ceb6;
}

table.program_table td.gentle_cell
{
	background-color: #e0fff6;
}

table.program_table td.aerial_cell
{
	background-color: #5555f6;
}

table.program_table td.morn_cell
{
	background-color: #66ff99;
}
*/
table.program_table span.time
{
	display: block;
	font-weight: normal;
	margin: 0px 0px 5px 0px;
}
table.program_table span.class
{
	display: block;
	font-weight: bold;
	font-style: italic;
	margin: 0px 0px 5px 0px;
}
table.program_table span.levels
{
	font-style: italic;
}

/*********************************************/
/*              Price Table                  */
/*********************************************/
#prices
{
	margin: 0px 350px;
	width: 400px;
	float: left;
}

#prices table
{
	margin-top: 0px;
	width: 100%;
}

#prices table td
{
	width: 100px;
	height: 30px;
	padding-top: 10px;
	border: 2px solid black;
	text-align: center;
}

#prices h1
{
	height: 40px;
	border-bottom: 5px solid black;
	background: #504085;
	margin-top: 20px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}


/************************************/
/*            Policy List           */
/************************************/
ul.policy_list
{
	margin-left: 50px;
	list-style-type: circle;
}

h2.policy_h2
{
	font-weight: bold;
	font-style: italic;
	font-size: 30px;
	margin-top: 20px;
}

h3.policy_h3
{
	margin-top: 20px;
}

#content div.class_desc {
	width: 1100px;
	float: left;
}

.class_desc h3
{
	font-size: 20px;
	font-weight: bold;
}


/** Testing new banner **/
#my_banner
{
	width: 1100px;
	height: 210px;
	background: white;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}

#my_banner h1
{
	font-family: 'FrenchScriptMT';
	font-size: 180px;
	/*font-weight: bold;*/
	text-align: left;
	/* color: rgb(60,90,124); */
	color: #5c7b1e;
	margin: 0px;
	height: 70px;
}

#my_banner h2
{
	font-family: 'FrenchScriptMT';
	font-size: 80px;
	/* color: rgb(60,90,124); */
	color: #5c7b1e;
	margin: 50px 0px 0px 620px;
}

#my_banner img
{
	float: left;
	width: 300px;
	height: 210px;
	margin: 0px;
	margin-right: 40px;
	border-top-left-radius: 30px;
}

#banner_link, #banner_link:hover
{
	text-decoration: none;
}

#my_banner div#invitation
{
	float: left;
	width: 300px;
	height: 210px;
	margin: 0px;
	text-align: center;
	padding-left: auto;
}

#my_banner div#invitation h1 
{
	height: 50px;
	font-size: 40px;
	font-style: italic;
	text-decoration: underline;
	text-align: center;
	color: red;
	margin-top: 30px;
}

#my_banner div#invitation p
{
	color: black;
	font-size: 110%;
}

/*** Our Place Tab***/
.our_place_content div.upper_text {
	width: 70%;
	margin-bottom: 60px;
	margin-left: 170px;
	text-align: center;
}

.our_place_content h3 {
	margin-left: 270px;
	margin-bottom: 20px;
}
.our_place_content .mygallery {
	margin-left: 250px;
}
